:root {
    --primary-bg: #6764ec; 
    --secondary-bg: #ffffff;
    --primary-text: #000000; 
    --secondary-text: #5f5e7a; 
    --border-color: #f2edf5; 
}

/* artist profile */

.main-heading {
    font-size: 28px;
    text-align: center;
    margin: 20px 0;
}

.artist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.artist-card {
    background-color: var(--secondary-bg);
    border: 1px solid var(--border-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.2s;
    display: flex;  
    flex-direction: column;  
}

.artist-bio {
    padding: 10px;
}


.artist-image {
    width: 100%; 
    height: 500px; 
    object-fit: cover; 
    
}


.artist-info {
    padding: 10px;
}

.nav-arrows {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.nav-arrows button {
    margin: 0 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.image-credit{
    font-size: 0.8rem;
}


/* Artist Info Page Responsive */
.artist-info-details, .discography-events {
    flex-direction: column;
}

.artist-info-details div, .discography-events div {
    width: 100%;
    margin-bottom: 20px;

}

@media (max-width: 768px) {
.latest-featured-artist {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 10px; 
}

.featured-artist-info {
    max-width: 90%; 
    padding: 0 15px; 
    text-align: center; 
    font-size: 16px; 
    line-height: 1.5; 
}

.artist-placeholder {
    width: 100%; 
    max-width: 300px; 
}

.artists-image {
    width: 100%; 
    height: auto; 
}

h3 {
    font-size: 1.5em; 
    margin-bottom: 10px; 
}
@media (max-width: 480px) {
    .main-heading {
        font-size: 20px;
    }

    .artist-grid {
        grid-template-columns: 1fr;
    }

    .artist-card {
        margin: 5px;
    }

    .nav-arrows {
        flex-direction: column;
    }

    .nav-arrows button {
        margin: 5px 0;
        width: 100%;
    }
}
}
